<main class="main-content">
<section class="faq-area">
    <div class="container">
        <div class="row flex-xl-row-reverse">
            <div class="col-lg-6 col-xl-7">
                <div class="faq-thumb">
                    <img src="assets/assets/images/photos/faq-home.jpg" width="601" height="368" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="faq-content">
                    <div class="faq-text-img"><img src="assets/assets/images/photos/faq.png" width="199" height="169" alt="Image"></div>
                    <h2 class="faq-title">Rastrea tu pedido</h2>
                    <div class="faq-line"></div>
                    <p class="faq-desc">Hacemos envios con diferentes transportadoras, selecciona la que fue asignada para tu pedido</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section-space pt-0">
                <div class="container">
                    
                    <div class="row mb-n9">
                        <div class="col-sm-6 col-lg-4 mb-8">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <a href="https://www.servientrega.com/wps/portal/rastreo-envio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT2NPQ30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMaMgNzTCINNREQC2ok6g/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank" class="thumb">
                                    <img src="assets/images/blog/1.webp" width="370" height="320" alt="Image-HasTech">
                                </a>
                                <div class="content">
                                    <a class="post-category" href="https://www.servientrega.com/wps/portal/rastreo-envio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT2NPQ30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMaMgNzTCINNREQC2ok6g/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">Servientrega</a>
                                    <h4 class="title"><a href="https://www.servientrega.com/wps/portal/rastreo-envio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT2NPQ30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMaMgNzTCINNREQC2ok6g/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">Consulta aqui</a></h4>
                                    
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-8">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <a class="thumb">
                                    <img src="assets/images/blog/2.webp" width="370" height="320" alt="Image-HasTech">
                                </a>
                                <div class="content">
                                    <a class="post-category post-category-two" data-bg-color="#A49CFF" href="https://www.coordinadora.com/portafolio-de-servicios/servicios-en-linea/rastrear-guias/" target="_blank">Coordinadora</a>
                                    <h4 class="title"><a href="https://www.coordinadora.com/portafolio-de-servicios/servicios-en-linea/rastrear-guias/" target="_blank">Consulta aqui</a></h4>
                                    
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-8">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <a class="thumb">
                                    <img src="assets/images/blog/2.webp" width="370" height="320" alt="Image-HasTech">
                                </a>
                                <div class="content">
                                    <a class="post-category post-category-two" data-bg-color="#A49CFF" href="https://www.coordinadora.com/portafolio-de-servicios/servicios-en-linea/rastrear-guias/" target="_blank">Tcc</a>
                                    <h4 class="title"><a href="https://www.coordinadora.com/portafolio-de-servicios/servicios-en-linea/rastrear-guias/" target="_blank">Consulta aqui</a></h4>
                                    
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-8">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <a href="https://envia.co/" target="_blank" class="thumb">
                                    <img src="assets/images/blog/1.webp" width="370" height="320" alt="Image-HasTech">
                                </a>
                                <div class="content">
                                    <a class="post-category" href="https://envia.co/" target="_blank">Envia</a>
                                    <h4 class="title"><a href="https://envia.co/" target="_blank">Consulta aqui</a></h4>
                                    
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-8">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <a href="https://www.interrapidisimo.com/sigue-tu-envio/" target="_blank" class="thumb">
                                    <img src="assets/images/blog/1.webp" width="370" height="320" alt="Image-HasTech">
                                </a>
                                <div class="content">
                                    <a class="post-category" href="https://www.interrapidisimo.com/sigue-tu-envio/" target="_blank">Interrapidisimo</a>
                                    <h4 class="title"><a href="https://www.interrapidisimo.com/sigue-tu-envio/" target="_blank">Consulta aqui</a></h4>
                                    
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                    </div>
                </div>
            </section>
</main>