<main class="main-content">

            <!--== Start Contact Area Wrapper ==-->
            <section class="contact-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-lg-12">
                            <div class="section-title position-relative" style="text-align: center;" align="center">
                                <h2 class="title" >Escribenos</h2>
                                <p class="m-0" style="text-align:center;">Tienes dudas o quieres hacer un reclamo, aqui puedes decirnos</p>
                                <div class="line-left-style mt-4 mb-1"></div>
                            </div>
                            <!--== Start Contact Form ==-->
                            <div class="contact-form">
                                <form id="contact-form" action="" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="con_name" placeholder="Nombre">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Apellido">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input class="form-control" type="email" name="con_email" placeholder="Correo electronico">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="con_message" placeholder="Mensaje"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group mb-0">
                                                <button class="btn btn-sm" type="submit">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--== End Contact Form ==-->

                            <!--== Message Notification ==-->
                            <div class="form-message"></div>
                        </div>
                    </div>
                </div>
                
            </section>
            <!--== End Contact Area Wrapper ==-->

            <!--== Start Contact Area Wrapper ==-->
            <section class="section-space">
                <div class="container">
                    <div class="contact-info">
                        <div class="contact-info-item">
                            <img class="icon" src="assets/assets/images/icons/1.jpg" width="30" height="30" alt="Icon">
                            <a href="tel://+573155043075">+57 315 504 3075</a>
                            <a href="tel://+573107992076">+57 310 799 2076</a>
                        </div>
                        <div class="contact-info-item">
                            <img class="icon" src="assets/assets/images/icons/2.jpg" width="30" height="30" alt="Icon">
                            <a href="mailto://contacto@mundibelleza.com">contacto@mundibelleza.com</a>
                            <a href="mailto://ventas@mundibelleza.com">ventas@mundibelleza.com</a>
                        </div>
                        <div class="contact-info-item mb-0">
                            <img class="icon" src="assets/assets/images/icons/3.jpg" width="30" height="30" alt="Icon">
                            <p>Transversal 78C bis A #65i -21 sur Bosa amistad, Bogota - Colombia</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Contact Area Wrapper ==-->

            <div class="map-area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7953.8873046097515!2d-74.18644812930201!3d4.604112680870952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e5b5712d3b5%3A0x9df12abd1483e5d8!2sLa%20Amistad%2C%20Bosa%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sve!4v1660142841270!5m2!1ses!2sve" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </main>