    <footer class="footer-area">
        <!--== Start Footer Main ==-->
        <div class="footer-main">
            <div class="container" style="    max-width: 100%;">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="widget-item">
                            <div class="widget-about">
                                <a class="widget-logo" [routerLink]="['home']">
                                    <img src="assets/assets/images/logo.png" width="95" height="68" alt="Logo">
                                </a>
                                <p class="desc">Mundibelleza. Todo en productos al mayor y detal para el cuidado personal </p>
                            </div>
                            <div class="widget-social"> <h4>Síguenos: </h4>
                                <li>
                                    <a href="https://www.instagram.com/co.mundibelleza/?fbclid=IwAR09mk-ej9VvqepvS_xWea2hfHT73Zdkw4eqIlKJ8oTfm492_zSEfQk0dV0" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/comerc.mundibelleza/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                </li>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-md-0 mt-6">
                        <div class="widget-item">
                            <h4 class="widget-title">Enlaces</h4>
                            <ul class="widget-nav">
                                <li><a [routerLink]="['home']">Inicio</a></li>
                                <li><a [routerLink]="['shop']">Productos</a></li>
                                <li><a [routerLink]="['about']">Nosotros</a></li>
                                <li><a [routerLink]="['contact']">Contacto</a></li>
                                <li><a [routerLink]="['promos']">Promociones</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 mt-lg-0 mt-9">
                        <div class="widget-item">
                            <h4 class="widget-title">Contáctanos</h4>
                            
                            <div class="widget-social">
                                <ul style="    font-size: 20px;">
                                    <li style="padding-bottom: 5px;"><h4>Ubícanos: </h4>
                                    <i class="fa fa-location-arrow"></i><strong> Transversal 78C bis A #65i -21 sur Bosa amistad</strong>
                                    </li>
                                    <li style="padding-bottom: 5px;"><h4>Escribenos: </h4>
                                        <ul>
                                            
                                              <li>
                                                <a href="https://wa.me/573155043075?text=Hola,%20deseo%20realizar%20un%20pedido" target="_blank" title="Cejas y pestañas!"> 
                                                <i class="fa fa-whatsapp"></i><strong style="color: #04d9c3;"> Linea cejas y pestañas: 315 504 3075</strong></a>
                                              </li>
                                              <li> 
                                                <a href="https://wa.me/573107992076?text=Hola,%20deseo%20realizar%20un%20pedido" target="_blank" title="Uñas!"> 
                                                <i class="fa fa-whatsapp"></i><strong style="color:#f048d5;"> Linea de uñas: 310 799 2076</strong></a>
                                              </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Footer Main ==-->

        <!--== Start Footer Bottom ==-->
        <div class="footer-bottom">
            <div class="container pt-0 pb-0">
                <div class="footer-bottom-content">
                    <p class="copyright">© 2022 Mundibelleza <i class="fa fa-heart"></i> por <a target="_blank" href="https://www.buckapi.com/">Buckapi</a></p>
                </div>
            </div>
        </div>
        <!--== End Footer Bottom ==-->
    </footer>