<main class="main-content">
<section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header-st3-content text-center text-md-start">
                    <ol class="breadcrumb justify-content-center justify-content-md-start">
                        <li class="breadcrumb-item"><a class="text-dark" [routerLink]="['shop']">Tienda</a></li>
                        <li class="breadcrumb-item active text-dark" aria-current="page">Detalle</li>
                    </ol>
                   
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="section-space">
    <div class="container">
        <div class="row product-details">
            <div class="col-lg-6">
                <div class="product-details-thumb">
                    <img src="assets/images/shop/product-details/2.webp" width="570" height="693" alt="Image">
                    <span class="flag-new">new</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-content">
                    <h5 class="product-details-collection">Premioum collection</h5>
                    <h3 class="product-details-title">Offbline Instant Age Rewind Eraser.</h3>
                    <div class="product-details-review mb-7">
                        <div class="product-review-icon">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <button type="button" class="product-review-show">150 reviews</button>
                    </div>
                    <p class="mb-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, repellendus. Nam voluptate illo ut quia non sapiente provident alias quos laborum incidunt, earum accusamus, natus. Vero pariatur ut veniam sequi amet consectetur.</p>
                    <div class="product-details-pro-qty">
                        <div class="pro-qty">
                            <input type="text" title="Quantity" value="01">
                        </div>
                    </div>
                    <div class="product-details-shipping-cost">
                        <input class="form-check-input" type="checkbox" value="" id="ShippingCost" checked>
                        <label class="form-check-label" for="ShippingCost">Shipping from USA, Shipping Fees $4.22</label>
                    </div>
                    <div class="product-details-action">
                        <h4 class="price">$254.22</h4>
                        <div class="product-details-cart-wishlist">
                            <button type="button" class="btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="fa fa-heart-o"></i></button>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
</main>