    <main class="main-content">
   <!--   <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    ></div> -->
        <section class="hero-slider-area position-relative">
            <div class="swiper hero-slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme1.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider1.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme2.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider2.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme3.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider3.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme4.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider4.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme5.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider5.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme6.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider6.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                    <div class="swiper-slide hero-slide-item">
                        <div class="container">
                            <div class="row align-items-center position-relative">
                               <!--  <div class="col-12 col-md-6">
                                    <div class="hero-slide-content">
                                        <div class="hero-slide-text-img"><img src="assets/assets/images/slider/text-theme1.png" width="427" height="232" alt="Image"></div>
                                        <h2 class="hero-slide-title">Mundibelleza</h2>
                                        <p class="hero-slide-desc">Insumos para cejas, pestañas y uñas, manejamos ventas por mayor y detal</p>
                                        <a class="btn btn-border-dark"  [routerLink]="['/shop']">Ver tienda</a>
                                    </div>
                                </div> -->
                                <div class="col-12 col-md-6">
                                    <div class="hero-slide-thumb">
                                        <img src="assets/assets/images/slider/slider7.png" width="841" height="832" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide-text-shape"><img src="assets/assets/images/slider/text1.png" width="70" height="955" alt="Image"></div>
                        <div class="hero-slide-social-shape"></div>
                    </div>
                </div>
                <!--== Add Pagination ==-->
                <div class="hero-slider-pagination"></div>
            </div>
            <div class="hero-slide-social-media">
                
                <a href="https://www.instagram.com/co.mundibelleza/?fbclid=IwAR09mk-ej9VvqepvS_xWea2hfHT73Zdkw4eqIlKJ8oTfm492_zSEfQk0dV0" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/comerc.mundibelleza/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
            </div>
        </section>
        <!--== End Hero Area Wrapper ==-->

        <!--== Start Product Category Area Wrapper ==-->
        <section class="section-space pb-0">
            <div class="container">
                <div class="row g-2 g-sm-6">
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2">
                        <!--== Start Product Category Item ==-->
                        <a href="#" class="product-category-item">
                            <img class="icon" src="assets/assets/images/shop/category/1.png" width="70" height="80" alt="Image-HasTech">
                            <h3 class="title">Uñas</h3>
                            <span class="flag-new">New</span>
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2">
                        <!--== Start Product Category Item ==-->
                        <a href="#" class="product-category-item" data-bg-color="#FFEDB4">
                            <img class="icon" src="assets/assets/images/shop/category/2.jpg" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Spa</h3>
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2 mt-lg-0 mt-sm-6 mt-4">
                        <!--== Start Product Category Item ==-->
                        <a href="#" class="product-category-item" data-bg-color="#DFE4FF">
                            <img class="icon" src="assets/assets/images/shop/category/4.png" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Pestañas y cejas</h3>
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">
                        <!--== Start Product Category Item ==-->
                        <a href="#" class="product-category-item" data-bg-color="#FFEACC">
                            <img class="icon" src="assets/assets/images/shop/category/3.png" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Piel y depilación</h3>
                            <span data-bg-color="#835BF4" class="flag-new">Top</span>
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">
                        <!--== Start Product Category Item ==-->
                        <a href="#" class="product-category-item" data-bg-color="#FFDAE0">
                            <img class="icon" src="assets/assets/images/shop/category/6.png" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Capilar</h3>
                        </a>
              
                    </div>
                    <div class="col-6 col-lg-3 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">

                        <a href="#" class="product-category-item" data-bg-color="#FFF3DA">
                            <img class="icon" src="assets/assets/images/shop/category/5.jpg" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Maquillaje</h3>
                        </a>
          
                    </div>
                    <!-- <div class="col-6 col-lg-3 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">

                        <a href="#" class="product-category-item" data-bg-color="#FFF3DA">
                            <img class="icon" src="assets/assets/images/shop/category/7.png" width="80" height="80" alt="Image-HasTech">
                            <h3 class="title">Barberia</h3>
                        </a>
          
                    </div> -->
                </div>
            </div>
        </section>

        <section class="section-space" 
    infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
        >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="title">Productos más vendidos</h2>
                            <p>Encuentra ofertas en los productos vendidos en de la semana</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
                    <div class="col-6 col-lg-4 mb-4 mb-sm-9" *ngFor='let product of bestseller$ | async'>
                
                        <div class="product-item">
                            <div class="product-thumb">
                                <a class="d-block" (click)="viewProduct(product)">
                                    <img src="{{product.images[0]}}" width="370" max-height="450" alt="Image-HasTech">
                                </a>
                                <span class="flag-new">MAs vendidos</span>
                                <div class="product-action">
                                    <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal"  (click)="viewProduct(product)">
                                        <i class="fa fa-expand"></i>
                                    </button><!-- 
                                    <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                        <span>Agregar al carro</span>
                                    </button> -->
                                    
                                    <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" (click)="quick(product)">
                                        <span>Agregar al carro</span>
                                    </button>
                                    
                                </div>
                            </div>
                            <div class="product-info">
                                
                                <h4 class="title"><a [routerLink]="['../product']">{{product.name}}</a></h4>
                                <div class="prices">
                                    <span class="price">$ {{product.price}}</span>
                              <!--       <span class="price-old">300.00</span> -->
                                </div>
                            </div>
                            <div class="product-action-bottom">
                                <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="fa fa-expand"></i>
                                </button>
                                <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <span>Agregar al carro</span>
                                </button>
                            </div>
                        </div>
         
                    </div>
              
               
                </div>
            </div>
        </section>
        <!--== End Product Area Wrapper ==-->

        <!--== Start Product Banner Area Wrapper ==-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <!--== Start Product Category Item ==-->
                        <a href="https://wa.me/573155043075?text=Hola,%20deseo%20realizar%20un%20pedido" target="_blank" class="product-banner-item">
                            <img src="assets/assets/images/banners/a.jpg" width="370" height="370" alt="Image-HasTech">
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-sm-0 mt-6">
                        <!--== Start Product Category Item ==-->
                        <a href="https://wa.me/573155043075?text=Hola,%20deseo%20realizar%20un%20pedido" target="_blank" class="product-banner-item">
                            <img src="assets/assets/images/banners/b.jpg" width="370" height="370" alt="Image-HasTech">
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-lg-0 mt-6">
                        <!--== Start Product Category Item ==-->
                        <a href="https://wa.me/573155043075?text=Hola,%20deseo%20realizar%20un%20pedido" target="_blank" class="product-banner-item">
                            <img src="assets/assets/images/banners/c.jpg" width="370" height="370" alt="Image-HasTech">
                        </a>
                        <!--== End Product Category Item ==-->
                    </div>
                </div>
            </div>
        </section>
        <!--== End Product Banner Area Wrapper ==-->

        <!--== Start Product Area Wrapper ==-->
        <section class="section-space pb-0">
            
            <div class="feature-area section-space" style="    background-color: rgb(252, 200, 248);">
                <div class="container">
                    <div class="row mb-n9">
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="assets/assets/images/icons/feature1.png" width="60" height="60" alt="Icon">Entregas a domicilio</h5>
                                <p class="desc">Gratis para compras mayores a 120.000 $. Reparto en Bogota y nivel nacional</p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="assets/assets/images/icons/feature2.png" width="60" height="60" alt="Icon"> Aceptamos:</h5>
                                <p class="desc">Pagos con tarjetas, Transferencia bancaria,  contra entrega, mercado pago, Efecty....
                                </p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="assets/assets/images/icons/feature3.png" width="60" height="60" alt="Icon"> Rastrea tu pedido con:</h5>
                                <p class="desc">
                                    <a href="https://www.servientrega.com/wps/portal/rastreo-envio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT2NPQ30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMaMgNzTCINNREQC2ok6g/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">Servientrega, </a> 
                                    <a href="https://www.coordinadora.com/portafolio-de-servicios/servicios-en-linea/rastrear-guias/" target="_blank">Coordinadora, </a>
                                    <a href="https://tcc.com.co/courier/mensajeria/productos-y-servicios/rastrear-envio/" target="_blank">Tcc, </a>
                                    <a href="https://envia.co/">Envia, </a>
                                    <a href="https://www.interrapidisimo.com/sigue-tu-envio/" target="_blank">Interrapidisimo.</a> </p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Product Area Wrapper ==-->


    </main>